.player-input-container {
  position: absolute;
  display: grid;
  align-content: center;
  place-items: center;
  gap: 5vh;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(28, 24, 23);
}

.player-input-title {
  color: rgb(215, 215, 215);
  font-size: 3em;
  font-weight: 500;
}

.player-input-cards {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.player-input-card {
  display: grid;
  height: min(55vh, 40vw);
  background-color: rgb(39, 32, 31);
  place-items: center;
  border-radius: 10px;
  padding: 20px;
}

.player-input-card .player {
  color: rgb(215, 215, 215);
  font-size: 1.5em;
}

.player-input-card .cell {
  background-color: rgb(39, 32, 31);
  width: 75px;
  height: 75px;
  cursor: default;
}

.player-input-card .cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*.player-input-card*/
.player-input {
  width: 90%;
  height: 40px;
  background-color: rgb(215, 215, 215);
  color: rgb(0, 0, 0);
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
  border: none;
  outline: none;
}

.start-game-btn {
  border: 1px solid transparent;
  background-color: rgba(49, 39, 37, 0.54);
  transition: border-color 0.25s;
  color: rgb(255, 255, 255);
  border-radius: 0.75em;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.start-game-btn:hover {
  border-color: rgb(227, 208, 176);
}

.start-game-btn:focus {
  background-color: rgb(230, 222, 208);
  color: rgb(28, 24, 23);
  font-weight: 700;
}
