#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game img,
.winner-container img,
.turns img,
.game-stat img {
  width: 3em;
  height: auto;
}

.exit-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 1em;
  left: 1em;
  cursor: pointer;
}
.exit-btn img {
  width: 100%;
  height: auto;
  transition: all 0.25s;
}
.exit-btn img:hover {
  filter: invert(0.25);
}
.exit-btn img:active {
  filter: invert(0.5);
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2em 0;
}

.cell,
.winner .play-again-btn {
  border: 1px solid transparent;
  background-color: rgba(49, 39, 37, 0.54);
  transition: border-color 0.25s;
}

.cell {
  border-radius: 8px;
  width: 90px;
  height: 90px;
  padding: 10px;
  cursor: pointer;
}
.game .cell:hover,
.winner .play-again-btn:hover {
  border-color: rgb(227, 208, 176);
}

.turns .cell,
.game-result .cell,
.game-winning-history .cell {
  background-color: rgb(28, 24, 23);
  width: 75px;
  height: 75px;
  cursor: default;
}
.game-winning-history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.game-winning-history .win-counter-text {
  font-size: 0.6em;
}

.turns .is-selected {
  border: 2px solid rgb(125, 180, 48);
}

.winner-container {
  position: absolute;
  display: grid;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.winner {
  width: 350px;
  height: 50vh;
  background-color: rgb(28, 24, 23);
  border-radius: 2em;
  align-content: center;
  z-index: 1000;
}

.game-result .alert-container,
.game-winning-history .game-stat {
  display: flex;
  font-size: 2em;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.winner .play-again-btn {
  color: rgb(255, 255, 255);
  border-radius: 0.75em;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.winner .play-again-btn:focus {
  background-color: rgb(230, 222, 208);
  color: rgb(28, 24, 23);
  font-weight: 700;
}
