#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game img,
.winner-container img,
.turns img {
  width: 2em;
  height: auto;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2em 0;
}

.cell,
.winner button {
  border: 1px solid transparent;
  background-color: #31272589;
  transition: border-color 0.25s;
}

.cell {
  border-radius: 8px;
  width: 90px;
  height: 90px;
  padding: 10px;
  cursor: pointer;
}
.game .cell:hover,
.winner .play-again-btn:hover {
  border-color: #E3D0B0;
}

.turns .cell,
.game-result .cell {
  background-color: #1C1817;
  width: 75px;
  height: 75px;
  cursor: default;
}

.turns .is-selected {
  border: 2px solid #7db430;
}

.winner-container {
  position: absolute;
  display: grid;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.winner {
  width: 350px;
  height: 50vh;
  background-color: #1C1817;
  border-radius: 2em;
  align-content: center;
  z-index: 1000;
}

.game-result .alert-container {
  display: flex;
  font-size: 2em;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.winner .play-again-btn {
  color: #ffffff;
  border-radius: 0.75em;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.winner .play-again-btn:focus {
  background-color: #e6ded0;
  color: #1C1817;
  font-weight: 700;
}